input {
    stdin {}
}

filter {
    
    {% if tmp.log_stacktrace %}
    multiline {
        pattern => "{{ tmp.log_stacktrace }}"
        negate => "true"
        what => "previous"
    }
    {% endif %}
    
    {% if tmp.grok_pattern %}
    grok {
        match => {
            "message" => "{{ tmp.grok_pattern }}"
        }
    }
    {% endif %}

    {% if tmp.time_pattern and tmp.grok_pattern %}
    date {
        match => [ "times", "{{ tmp.time_pattern }}"]
        target => "@timestamp"
    }
    {% endif %}

    mutate {
        {% if tmp.add_fields %}
        add_field => {
          {% for field in tmp.add_fields %}
            "{{ field.key }}" => "{{ field.value }}"
          {% endfor %}
        }
        {% endif %}
        
        {% if tmp.replace_fields or tmp.grok_pattern %}
            replace => {
            {% for field in tmp.replace_fields %}
                "{{ field.key }}" => "{{ field.value }}"
            {% endfor %}
            {% if tmp.grok_pattern %}
                "message" => "%{log_message}"
            {% endif %}
        }
        {% endif %}

        remove_field => [
            {% if tmp.grok_pattern %} 
               "times", "log_message",
            {% endif %} 
            "@version" ]
    }
}

output {
    stdout {
        codec => "rubydebug"
    }

    elasticsearch {
        hosts => "elasticsearch:9200"
        index => "{{ tmp.log_type }}"
    }
}
